// {{ ansible_managed }}

{% if network['internal_nameserver']|length > 1 %}
acl "trusted" {
{%  for ip_address in network['internal_nameserver'] %}
        {{ 'localhost' if (ip_address in ansible_all_ipv4_addresses) else ip_address }};
{%  endfor %}
        };
{% endif %}

acl localclients {
{% for localnet in subnet %}
{%  if subnet[localnet]["type"] == 'network' %}
        {{ subnet[localnet]["ip_range"] }};
{%  endif %}
{% endfor %}
        localhost;
        localnets;
        };

options {
        directory "/var/cache/bind";

        // If there is a firewall between you and nameservers you want
        // to talk to, you may need to fix the firewall to allow multiple
        // ports to talk.  See http://www.kb.cert.org/vuls/id/800113

        // If your ISP provided one or more IP addresses for stable
        // nameservers, you probably want to use them as forwarders.
        // Uncomment the following block, and insert the addresses replacing
        // the all-0's placeholder.
{% if network['internal_nameserver']|length > 1 %}

        recursion yes;                 # enables resursive queries
        allow-recursion {              # allows recursive queries from "trusted" clients
             trusted;
             localclients;
             };
        allow-query {
            localclients;
            };
        listen-on {                    # ns1 private IP address - listen on private network only
{%  for ip_address in network['internal_nameserver'] %}
{%   if (ip_address in ansible_all_ipv4_addresses) %}
             {{ ip_address }};
{%   endif %}
{%  endfor %}
             localhost;
             };   
        allow-transfer {               # disable zone transfers by default 
             none;
             };      
{% endif %}

        forwarders {
{% for ip_address in network['external_nameserver'] %}
             {{ ip_address }};
{% endfor %}
             };

        //========================================================================
        // If BIND logs error messages about the root key being expired,
        // you will need to update your keys.  See https://www.isc.org/bind-keys
        //========================================================================
        dnssec-enable yes;
        dnssec-validation auto;

        listen-on-v6 { 
             none;
             };
        };